/* The below code pushes the page down 30px to make room for the ICB */

.icbWrapper {
	height: 100%;
}
.icbWrapper .PaneRoot {
	top: 30px !important;
}
.icbWrapper .trb_navhead {
	margin-top: 30px !important;
}
.icbWrapper {
	margin-top: 30px !important;
}
.icbWrapper .trb_nav_container {
	top: 25px !important;
}
.icbWrapper .medium-editor-toolbar {
	margin-top: -30px;
}
.icbWrapper #app_frame #menu_container {
	top: 22px;
}
.icbWrapper header.trb_nh {
	top: 30px;
}
.icbWrapper div#__cb-iwindow-tb {
  top: 40px !important;
}

/* ICB */

.icb {
	width: 100%;
	position: fixed;
	height: 30px;
	display: block;
	top: 0;
	left: 0;
	z-index: 90000000000000000;
	color: white;
	overflow: hidden;
	font-family: Arial, tahoma, verdana, arial, helvetica, sans-serif !important;
    font-weigh: bold !important;
	font-size: 12px !important;
	background: #374E71 !important;
	color: #F6F1D5 !important;
}
.icb body, .icb table, .icb div, .icb form, .icb label, .icb span {
	font-size: 11px !important;
	text-transform: uppercase !important;
    text-align: left !important;
    font-weigh: bold !important;
    -webkit-font-smoothing: auto !important;
}
.icb span {
    margin-left: 5px;
}
.icb ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.icb li {
	list-style: none;
	margin: 0;
	font-size: 12px !important;
	float: left;
}
.icb a {
	text-decoration: none;
	display: block;
	cursor: pointer;
	padding: 5px 10px !important;
	background: #374E71 !important;
	color: #F6F1D5 !important;
}
.icb a:hover {
	text-decoration: none;
	color: white !important;
	background: #212F45 !important;
}
.icb .fa {
	height: 20px;
	font-size: 16px;
	position: relative;
	top: 2px;
}

#closeTheBar {
  position: absolute;
  right: 0;
}

#newContentDropDown {
	background: #374E71;
	color: white;
	margin: 0;
	top: 30px;
	z-index: 200000000000;
	float: left;
	color: white;
	padding: 0;
	left: 600px;
	height: 200px;
	overflow: auto;
	top: 30px;
	position: fixed;
	width: 150px;
}
#newContentDropDown li {
	color: white;
	margin: 0;
	padding: 0;
	list-style: none;
}
#newContentDropDown a {
	padding: 5px;
	display: block;
	color: White;
	font-family: Arial, tahoma, verdana, arial, helvetica, sans-serif !important;
	font-size: 11px !important;
	text-transform: uppercase !important;
	text-decoration: none;
	-webkit-font-smoothing: auto !important;
}
#newContentDropDown a:hover {
	background: #004b7a;
	text-decoration: underline;
}
#newContentDropDown.hide {
	display: none;
}
#bookmarksPanel li a {
	font-family: Arial, tahoma, verdana, arial, helvetica, sans-serif !important;
	padding: 7px !important;
	background: #E36D4D;
	color: #F6F1D5;
	display: block;
	text-decoration: none;
	font-size: 11px !important;
	text-transform: uppercase !important;
	float: left;
}
#bookmarksPanel li a:hover {
	background: #B2563D;
}
ul#bookmarksPanel {
	background: #E36D4D;
	color: #F6F1D5;
	margin: 0px;
	top: 30px;
	z-index: 200000000000;
	float: left;
	position: fixed;
	color: white;
	padding: 0px;
	left: 0;
	width: 100%;
	display: block;
}
#bookmarksPanel li {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}
.fa.liveblog-edit-btn {
	font-size: 15px;
	line-height: 0;
	display: inline-block;
	top: -3px;
	position: relative;
}
.has-edit-btn .liveblog_share_update_sub_menu {
	width: 130px;
}
.liveblog_open_in_card_generator {
	width: 20px;
	text-align: center;
}
