* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Benton Gothic Regular';
	src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.eot');
	src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.woff') format('woff'), url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Benton Gothic Bold';
	src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.eot');
	src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.woff') format('woff'), url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Benton Gothic Black';
	src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black.eot');
	src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black.woff') format('woff'), url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, h4, h5 {
	font-family: 'Benton Gothic Bold', Arial;
	font-weight: normal;
}
#container {
	margin: 80px auto;
	width: 800px;
}
h1 {
	text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
img {
  max-width: 100%;
}
#circle-nav {
	width: 100%;
	height: 520px;
	position: relative;
	margin-bottom: 50px;
	opacity: 0;
}
.circle-nav-logo {
	display: block;
	position: absolute;
	opacity: 0;
	z-index: 750;
}
.circle-nav-logo img {
  width: 80px;
}
#circle-nav ul {
	list-style: none;
	margin: 0;
}
#circle-nav .circle-nav-item {
	display: block;
	position: absolute;
	border-radius: 50%;
	width: 180px;
	height: 120px;
	padding: 10px;
	padding-top: 5px;
	box-sizing: border-box;
	opacity: 0;
	list-style: none;
	margin: 0;
	text-align: center;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	cursor: pointer;
	z-index: 1000;
}
#circle-nav .circle-nav-item .close {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	opacity: .4;
  font-size: 30px;
}
#circle-nav .circle-nav-item.active .close {
	display: block;
}
#circle-nav .circle-nav-item.active .close:hover {
	opacity: 1;
}
.circle-nav-item-child {
	position: relative;
	width: 100%;
}
.circle-nav-item-child-item a {
	display: none;
}
.active .circle-nav-item-child a {
	display: block;
}
.circle-nav-item-child-item a, #dock .dock-item {
	position: absolute;
	width: 160px;
	height: 160px;
	padding: 10px;
	border-radius: 50%;
	background: white;
	box-shadow: 0 2px 8px 2px #ccc;
	z-index: 1250;
	border: 4px solid white;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.circle-nav-item-child-item a:hover {
	border: 4px solid #4591B8;
	background-color: #DAF3FF;
	margin-bottom: 5px;
	box-shadow: 0 2px 8px 2px #666;
	z-index: 5000;
	-webkit-transform: scale(.8) !important;
	transform: scale(.8) !important;
}
#circle-nav .circle-nav-item .icon {
	width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
#circle-nav .circle-nav-item .circle-nav-item-child-item .icon {
  font-size: 80px;
  line-height: 90px;
}
.hidden {
	display: none;
}
#circle-nav .circle-nav-item.background {
	opacity: .25 !important;
	z-index: 0;
}
#circle-nav .circle-nav-item.background:hover {
	opacity: .50 !important;
	z-index: 0;
}
#circle-nav .circle-nav-item:hover {
	/*	border: 5px solid #4591B8;
	background: #C2EAFF;
*/
	text-decoration: underline;
}
#circle-nav .circle-nav-item.active:hover {
	text-decoration: none;
}
.circle-nav-item p {
	display: block;
	font-family: Helvetica;
	line-height: 20px;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	max-width: 130px;
}
.absolute-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	margin: 0 auto;
}
#dock {
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  height: 90px;
  font-weight: bold;
  text-align: center;
}
#dock .dock-item {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid #eee;
  display: inline-block;
  text-align: center;
}
