* { margin: 0; padding: 0; }

body {
    width: 260px;
    font-family: 'lucida grande', tahoma, verdana, arial, helvetica, sans-serif;
    padding-bottom: 5px;
}

header {
    background: #374E71;
    color: #F6F1D5;
    width: 100%;
    padding: 10px;
}

#settings {
    margin:10px;
}

fieldset { border: 0; }

fieldset span { display: block; width:100%; }

.label { font-weight: bold; margin: 10px 0; }
.label-left { float:left; }

fieldset select {padding: 10px;display: block;float:right;height: 30px;background:transparent;margin: 5px 0;width: 170px;box-sizing: border-box;}
fieldset input[type="text"] {margin: 3px 0; display: block;float:right;background:transparent;padding: 6px;border: 1px solid rgb(166, 166, 166);border-radius: 5px;width: 170px;box-sizing: border-box;}
fieldset input[type="text"].tag-input { display: none; }

fieldset ul.tagit {
  border: 1px solid rgb(166, 166, 166);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 4px;
  max-height: 100px;
  font-size: 10px;
}
fieldset ul.tagit li.tagit-new input {
    padding: .25em 4px .25em 0;
}

fieldset ul.tagit li.tagit-new {
    padding: 0;
}

.ui-helper-hidden-accessible { display: none; }

ul#url-filters { padding: 10px; list-style: none; height: 75px; overflow: scroll; border: 1px solid #eee; }
ul#url-filters li { margin-bottom: 5px; }
ul#url-filters input[type="checkbox"] { margin-right: 10px; }

#add-url-filter { padding: 5px; width: 100%; box-sizing: border-box; border: 1px solid #eee; border-top: 0; }

footer { text-align: center; }
footer p { margin-bottom: 10px; }
footer img { max-width: 100%; }

/* On-off switch */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float:right;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #37713F; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
